<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PracticeUI</title>
    <!-- Bootstrap cdn -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <!-- FontAwsome -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <!-------------------------- Navbar Section Start -------------------->
    <section class="nav_bg">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#"
            ><img src="./assets/images/main_logo.svg" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Paper</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Builder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Adviceor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </section>
    <!-------------------------- Navbar Section End -------------------->
    <!-------------------------- Header Section Start -------------------->
    <section class="header_bg mb-xl-5">
      <div class="back_img">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div class="header_left_content">
                <h1>We provide best certifided lawyer to help you</h1>
                <p>
                  Our story is simple, yet our distinguished approach is highly
                  sophisticated.
                </p>
                <div class="input-group mb-3 w-75">
                  <input
                    type="text"
                    class="form-control py-2 cus_in_style"
                    placeholder="what are you looking for"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  />
                  <button
                    class="btn btn-outline-secondary px-5"
                    type="button"
                    id="button-addon2"
                  >
                    Search Now
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div>
                <div class="left_back_box">
                  <p>
                    It's always a pleasure to work with Will . They are
                    responsive, and results-oriented!
                  </p>
                  <img src="./assets/images/5stars.svg" alt="" />

                  <div class="box_bottom">
                    <img src="./assets/images/profile1.svg" alt="" />
                    <h6>Dicks Robinson</h6>
                    <p>Co-founder</p>
                  </div>
                </div>
                <div class="right_back_box">
                  <p>
                    We've certainly had a positive experience working with eLab
                    Communications.
                  </p>
                  <img src="./assets/images/5stars.svg" alt="" />

                  <div class="box_top">
                    <img src="./assets/images/profile2.svg" alt="" />
                    <h6>Holly Richards</h6>
                    <p>Real Estate agent</p>
                  </div>
                </div>
              </div>
              <div>
                <img
                  class="right_top"
                  src="./assets/images/right_top.svg"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="right_bottom"
                  src="./assets/images/right_bottom.svg"
                  alt=""
                />
              </div>
              <div class="header_hero_img">
                <img src="./assets/images/header_hero.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Header Section End -------------------->
    <!-------------------------- Three Column Section Start -------------------->
    <section>
      <div>
        <div class="container">
          <div class="row mt-xl-4">
            <div class="col-xl-3 three_space">
              <div>
                <div class="row">
                  <div class="col-xl-3">
                    <div>
                      <img src="./assets/images/Group 20600.svg" alt="" />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="three_content1">
                      <p>Real estate</p>
                      <h6>lawyer</h6>
                    </div>
                  </div>
                </div>
                <div class="three_content2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the looking at its layout.
                  </p>
                  <a href=""><h6>Learn more</h6></a>
                  <img src="./assets/images/117-Arrow Right.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="col-xl-3 three_space">
              <div>
                <div class="row">
                  <div class="col-xl-3">
                    <div>
                      <img src="./assets/images/Group 20600.svg" alt="" />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="three_content1">
                      <p>Real estate</p>
                      <h6>developer</h6>
                    </div>
                  </div>
                </div>
                <div class="three_content2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the looking at its layout.
                  </p>
                  <a href=""><h6>Learn more</h6></a>
                  <img src="./assets/images/117-Arrow Right.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="col-xl-3">
              <div>
                <div class="row">
                  <div class="col-xl-3">
                    <div>
                      <img src="./assets/images/Group 20600.svg" alt="" />
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="three_content1">
                      <p>Real estate</p>
                      <h6>adviceor</h6>
                    </div>
                  </div>
                </div>
                <div class="three_content2">
                  <p>
                    It is a long established fact that a reader will be
                    distracted by the looking at its layout.
                  </p>
                  <a href=""><h6>Learn more</h6></a>
                  <img src="./assets/images/117-Arrow Right.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Three Column Section End -------------------->
    <!-------------------------- Development and adviceory services Section Start -------------------->
    <section>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <div><img src="./assets/images/devHero2.svg" alt="" /></div>
            </div>
            <div class="col-xl-6">
              <div class="dev_left_content">
                <h1>Development and adviceory services for you</h1>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------- Development and adviceory services Section End -------------------->
    <!-------------------------- Learn more about our 
historical success Section Start -------------------->

    <section class="learn_bg">
      <div>
        <div class="video_top">
          <img src="./assets/images/videotop.svg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="learn_left_content">
                <h1>Learn more about our historical success</h1>
              </div>
            </div>
            <div class="col-xl-12">
              <div class="learn_video_topr">
                <img src="./assets/images/Ellipse 811.svg" alt="" />
              </div>

              <div class="learn_video">
                <img src="./assets/images/learnVideo.svg" alt="" />
              </div>
              <div class="learn_video_bottomr">
                <img src="./assets/images/Ellipse 810.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-------------------------- Learn more about our historical success Section End -------------------->
    <!-------------------------- Best place for any propertey related issue Section Start ------------------->

    <section>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-xl-12 mb-xl-5">
              <div class="best_left_content">
                <h1>Best place <br />for any propertey related issue</h1>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="best_circle">
                <img src="./assets/images/“.svg" alt="" />
              </div>
            </div>
            <div class="col-xl-9">
              <div class="best_right_content">
                <p>
                  Will is one of the most knowledgeable and competent people I
                  have ever met in the IT field. The more difficult the IT
                  challenge, the more Will enjoys the work. He always delivers
                  the highest quality results and client satisfaction is his
                  major goal.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-------------------------- Best place for any propertey related issue Section End -------------------->

    <!-- Jquery -->
    <script src="./assets/js/jquery.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
     popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap js -->

    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- JS -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
