.nav_bg {
  background-color: #d0e8f5;
}
.header_bg {
  background-color: #d0e8f5;
  margin-bottom: 100px;
}
.header_hero_img {
  position: relative;
  z-index: 10;
}
.header_left_content {
  h1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    /* or 77px */

    display: flex;
    align-items: center;

    color: #2c373e;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    /* or 23px */

    color: #46535a;
  }
}
.cus_in_style {
  background-color: transparent;
}
.hero_pattern {
  position: absolute;
  z-index: 0;
  top: 500px;
  width: 100%;
  opacity: 0.2;
  img {
    width: 50%;
  }
}
.back_img {
  position: relative;
}
.right_top {
  top: 114px;
  position: absolute;
  z-index: 0;
  width: 210px;
  height: 225px;
}
.right_bottom {
  bottom: -36px;
  right: 0px;
  position: absolute;
  z-index: 0;
  width: 150px;
  height: 225px;
}
.left_back_box {
  background-color: white;
  width: 18%;
  padding: 20px;
  position: absolute;
  z-index: 20;
  bottom: -58px;
  box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.05);
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 17px */

    color: #46535a;
  }
  &img {
  }
  .box_bottom {
    margin-top: 10px;
    h6 {
      position: absolute;
      bottom: 30px;
      left: 65px;
    }
    p {
      position: absolute;
      bottom: 0px;
      left: 65px;
    }
  }
}
.right_back_box {
  background-color: white;
  width: 18%;
  padding: 20px;
  position: absolute;
  z-index: 20;
  top: 250px;
  right: 60px;
  box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.05);
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 17px */

    color: #46535a;
  }
  &img {
  }
  .box_top {
    margin-top: 10px;
    h6 {
      position: absolute;
      bottom: 30px;
      left: 65px;
    }
    p {
      position: absolute;
      bottom: 0px;
      left: 65px;
    }
  }
}
//
.three_content1 {
  p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    // line-height: 145%;
    /* or 23px */

    color: #3b4951;
  }
  h6 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    /* or 35px */

    color: #3b4951;
  }
}
.three_content2 {
  p {
    margin: 10px 0px;
    padding-right: 25px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* or 23px */

    color: #46535a;
  }
  a {
    text-decoration: none;
    h6 {
      display: inline;
      font-family: Inter, sans-serif;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 145%;
      /* or 23px */

      color: #2c373e;
    }
  }
}
.three_space {
  margin-right: 120px;
}
//
.dev_left_content {
  h1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 40px;
    /* or 58px */

    color: #2c373e;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 145%;
    /* or 23px */

    color: #46535a;
  }
}
//
.learn_bg {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(229, 247, 234, 0.77) 0%,
    #e5f7ea 68.98%
  );
}
.learn_left_content {
  position: relative;
  z-index: 10;
  h1 {
    padding-top: 60px;
    padding-inline: 200px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */

    text-align: center;

    color: #2c373e;
  }
}
.learn_video {
  position: relative;
  z-index: 10;
  top: 50px;
  img {
    padding-top: 60px;
    padding-inline: 130px;
  }
}
.video_top {
  position: absolute;
  z-index: 0;
  img {
    width: 98vw;
  }
}
.learn_video_topr {
  position: absolute;
  z-index: 0;
  right: 0;
}
.learn_video_bottomr {
  position: absolute;
  z-index: 0;
  left: 20;
  bottom: 0;
}
//

.best_left_content {
  margin-top: 100px;
  h1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 430px;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */

    color: #2c373e;
  }
}
.best_circle {
  position: relative;
  z-index: 10;
  width: 100px;
  height: 100px;
  // -webkit-border-radius: 25px;
  // -moz-border-radius: 25px;
  border-radius: 70px;
  background: #f4f4f4;
  img {
    padding-top: 30px;
    padding-left: 20px;
  }
}
.best_right_content {
  p {
    width: 560px;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 22.4775px;
    line-height: 145%;
    /* or 33px */

    color: #46535a;
  }
}
.best_flex_box {
  margin-top: 20px;
  img {
    display: inline;
    position: absolute;
    width: 75px;
  }
  h6 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    /* or 35px */

    color: #2c373e;
    margin-left: 90px;
  }
  p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 90px;
    line-height: 145%;
    /* or 23px */

    color: #46535a;
  }
}
.best_left_child {
  position: absolute;
  z-index: 0;
  margin-top: 60px;
}
.best_circle2 {
  position: relative;
  right: 190px;
  top: 150px;
  z-index: 10;
  width: 100px;
  height: 100px;
  // -webkit-border-radius: 25px;
  // -moz-border-radius: 25px;
  border-radius: 70px;
  background: #f4f4f4;
  img {
    padding-top: 30px;
    padding-left: 20px;
  }
}
.best_left_content {
  p {
    width: 465px;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 22.4775px;
    line-height: 145%;
    /* or 33px */

    color: #46535a;
  }
}
.best_right_child {
  position: absolute;
  z-index: 0;
  margin-top: 60px;
}
